.layout {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;

  display: flex;
}
.layout-content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 317px;
}

@media screen and (max-width: 1280px) {
  .layout-content {
    margin-left: 97px;
  }
}
@media screen and (max-width: 768px) {
  .layout-content {
    margin-left: -3px;
    /* height: calc(100% - 40px); */
  }
}
